.movies-list {
    &__list {
        & > * {
            &:not(:last-child) {
                margin: 0px 0px 10px 0px;
            }
        }
    }

    &__showmore {
        margin: 30px 0px 0px 0px;
        width: 100%;
        padding: 20px;
        color: #000;
        font-size: 18px;
        background-color: #d7d6d9;
        transition: .3s ease;
        &:hover{
            background-color: darken($color: #d7d6d9, $amount: 10);
        }
    }

    &__item {
        padding: 20px;
        border: 1px solid #a4a4a4;
    }
}

.item-movies-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__title {
        flex: 0 0 30%;
    }

    &__tags {
        flex: 0 0 60%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        & > * {
            margin: 5px;
        }
    }

    &__btn {
        background-color: transparent;
        margin: 0px 20px 0px 0px;
        transition: .3s ease;
        &:hover{
            transform: scale(1.1);
        }
        &.is-active {
            svg {
                fill: #000;
            }
        }
    }
}
